
/* Speed racer color codes */

/* #4374C5 Blue */
/* #F2B441 Yellow */
/* #F29A2E Yellow Orange */
/* #D95829 Orange */
/* #F22222 Red */
/* #EBE8E3 White */
/* Nav Bar All Pages */

h1{ 
  /* Main Title Header - Look for cool font later */
  float: right;
  font-size: 35px;
  padding: 1px;

}
nav {
  /* includes links to custom, about, and home pages */
  height: 40px;
  background-color:#4374C5;
  margin: auto;
}

nav a{
  /* links in nav bar */
  /* background-color: coral; */
  float: left;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin-top: 7px;
  margin-left: 10px;
  padding: 3px;
  color: #F2B441;
}
nav a :hover {
  /* Hover not working yet */
  background-color: plum;
}

/* About Us 4 Section */

body{
  /* body container */
  width: 960px;
  margin-top:10px ;
  margin: auto;
  
}
body section{ 
  /* includes all 4 bios - text - img */
  background-color: cadetblue;
  width: 49%;
  float: left;
  padding: 2px;
  margin: 1px;

  /* border-style: solid ;
  border-width: 1px; */
}
body section img{
  width: 100px;
}