/* cleaning icons made by - https://www.flaticon.com/authors/ddara */

/* WORK NOTES: */

/* TEST/TARGET COLORS:
Chartreuse
Crimson
Cyan
 */

/* ................................................................ */

/* COLOR PALETTE */

/* #4374C5 Blue */
/* #F2B441 Yellow */
/* #F29A2E Yellow Orange */
/* #D95829 Orange */
/* #F22222 Red */
/* #EBE8E3 White */



/* ................................................................ */
/* WHOLE DOCUMENT OR WHATEVER */
/* ................................................................ */

html{
  background-color: #EBE8E3;
}
body {
  width: 1000px;
  margin-top:10px ;
  margin: auto;
  font-family: 'Racing Sans One';  
}


/* ................................................................ */
/* NAVIGATION BAR ALL PAGES */
/*  Good for now - Sept 12
/* ................................................................ */

h1{
  /* Main Logo Header */
  
  color: #F2B441;
  font-size: 90px;
  background-color: #4374C5;
  font-family: 'Faster One', cursive;
  text-align: center;
  text-shadow: 2px 2px 2px black;
  box-shadow: 2px 3px 2px black;
  width: 1000px;
}
h2{ 
  /* About Us header- Look for cool font later */
  
  color: #F22222;
  font-size: 55px;
  font-family: 'Racing Sans One', cursive;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:#F2B441;
  text-shadow: 2px 2px 2px black;
  float: right;
  padding: 20px;

}
nav {
  /* includes links to custom, about, and home pages */

  height: 40px;
  background-color:#4374C5;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  box-shadow: 2px 3px 2px black;
  font-family: 'Racing Sans One',cursive;
}
nav a{
  /* links in nav bar */

  float: left;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  color: #F2B441;
}


/* ................................................................ */
/* INDEX/HOME*/
/*  Good for now - Sept 12
/*  Add Button staying mayhaps
/* ................................................................ */

form{
  /* login and create */

  font-family: 'Racing Sans One';
  float: right;
  height: 20px;
  background-color: #4374C5;
  color: #EBE8E3;
  border-style: dashed;
  border-width: 2px ;
  border-color: #F2B441;
  padding: 1px;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}
.indexToDo{
  /* Form Container below progress bars */

  background-color: #F29A2E;
  height: 25px;
  width: 1000px;
  text-align: right;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  
}
.indexToDo form{
  /* Targets form on Index for new chores - previous selector ``form`` also responsible for some formatting */

  height: 20px;
  background-color: #F29A2E;
  float: left;
  width: 490px;
}
#completed_ul{
  /* Chores that have been clicked/completed appear here */

  height: 200px;
  background-color: #EBE8E3;
  overflow: scroll;
  overflow-x: hidden;
  text-align: center;
  padding: 2px;
  margin: 3px;
  box-shadow: inset 2px 2px 2px black;
}
#section_todo{
  height: 215px;
  background-color:#EBE8E3;
  overflow: scroll;
  overflow-x: hidden;
  text-align: center;
  width: 480px;
  box-shadow: inset 2px 2px 2px black;
  
}
#completed_ul:hover{
  /* background-color: chartreuse; */
  cursor: pointer;
}
#section_todo:hover{
  background-color: chartreuse;
  cursor: pointer;
  
}



/* ................................................................ */
/* Progress bars/race track?....in progress*/
/* Needs to have progress bar functionality added to parameters of progress tag - pipe in number value w/ DOM
/* ................................................................ */

#progressBars > label{
  font-family: 'Racing Sans One';
  width: 100px;
}
progress{
  /* IN PROGRESS - ON HOLD SEPT 12*/
  height: 40px;
  width: 936px;
  background-color: chartreuse;
  padding: 2px;
  /* box-sizing: border-box; */
  /* float: left; */
  
  /* Currently can't find a way to change the colors of the progress bars - when removing background color the whole bar vanishes - going to address later if it aligns with functionality of JS Sept 10 */
}
 

/* ................................................................ */
/* ABOUT US SECTION*/
/* Saved room to change each color of each box so we can customize our float color - also room to add stats like a baseball card/old vidyagame.
/* ................................................................ */

body section{ 
  /* Targets the 4 bios,text, and img elements */

  background-color: #F29A2E;
  width: 490px;
  float: left;
  padding: 2px;
  margin: 3px;
  box-shadow: 2px 3px 2px black;

}
body section img{
  /* targets images only */

  width: 100px;
  box-shadow: 2px 2px 2px black;
}
a{
  text-shadow: 1px 1px 1px black;
}
a:hover {
  /* all tags on nav bar */

  font-style: italic;
  font-family: 'Faster One', cursive;
  text-shadow: -8px 2px 2px black;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.bio:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background-color: chartreuse;
}


/* ................................................................ */
/* Landing Page */
/* Going to add more style to landing page, needs to be linked to rest of code base. Also going to add animations to landing page.
/* ................................................................ */
#registerUserForm{
  background-color: #4374C5;
  /* margin: 3px; */
  padding: 2px;
  float: left;
  margin-left: 3px;
}
#loginForm{
  background-color: #4374C5;
  /* margin-right: 3px; */
}
.landingForm{
  margin: 0px;
  background-color: #4374C5;
  height: 30px;
  text-shadow: 1px 1px 1px black;
  box-shadow: 2px 2px 2px black;
}
#landingAnimation{
  margin-top: 200px;
  box-shadow: 15px 5px 50px 3px;
  position: relative;
  animation: landing 3s;
}
@keyframes landing {
  0%   {top: 700px;}
  100% {top: 0px;}
}
/* ................................................................ */
/* CUSTOMIZE PAGE */
/* ................................................................ */

#updatePoints{
  /* background-color: chartreuse; */
  width: 485px;
}
#choreDisplay{
  background-color: #EBE8E3;
  width: 490px;
}
#userChoreCreator{
  /* background-color: cyan; */
  position: relative;
}
#choreMaker{
  text-align: center;
  /* background-color: cyan; */
  height: 200px;
  width: 500px;
  margin: auto;
}
/* test test test test*/
/* ................................................................ */
/* ................................................................ */
/* ................................................................ */
/* ................................................................ */
/* ................................................................ */